/* Define estilos globais para resetar margens, preenchimentos e caixas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estiliza o corpo da página */
  body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: radial-gradient(rgb(28, 85, 209), rgb(8, 8, 65));
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Estiliza os títulos H1 */
  h1 {
    color: #FFF;
    margin: 20px 0;
  }
  
  /* Estiliza o contêiner da busca */
  .busca {
    display: flex;
    width: 300px;
  }
  
  /* Estiliza o campo de entrada de busca */
  .busca #searchInput {
    flex: 1;
    padding: 10px;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
  }
  
  /* Estiliza o botão de busca */
  .busca button {
    padding: 10px;
    font-size: 15px;
    border: 0;
    background-color: rgb(28, 85, 209);
    color: #FFF;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  /* Estiliza o botão de busca quando passa o mouse */
  .busca button:hover {
    background-color: rgb(52, 114, 250);
  }
  
  /* Estiliza o contêiner de resultado da busca */
  .resultado {
    width: 300px;
    display: none;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.466);
    box-shadow: 10px 10px 30px rgba(0, 0, 0);
  }
  
  /* Estiliza o título do resultado */
  .titulo {
    width: 100%;
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
  }
  
  /* Estiliza a seção de informações do resultado */
  .info {
    display: flex;
    width: 100%;
  }
  
  /* Estiliza a seção de temperatura do resultado */
  .info .temp {
    flex: 1;
    text-align: center;
  }
  
  /* Estiliza a seção de vento do resultado */
  .info .vento {
    flex: 1;
    text-align: center;
  }
  
  /* Estiliza os títulos de temperatura e vento */
  .tempTitulo,
  .ventoTitulo {
    color: rgb(209, 204, 204);
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  /* Estiliza as informações de temperatura e vento */
  .tempInfo,
  .ventoInfo {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
  }
  
  /* Estiliza o texto de informações adicionais sobre a temperatura */
  .tempInfo sup {
    font-size: 15px;
    font-weight: normal;
  }
  
  /* Estiliza o texto de informações adicionais sobre o vento */
  .ventoInfo span {
    font-size: 15px;
    font-weight: normal;
  }
  
  /* Estiliza a área de vento */
  .ventoArea {
    width: 50px;
    height: 50px;
    border: 1px solid #FFF;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    padding-left: 25px;
    padding-top: 25px;
  }
  
  /* Estiliza o ícone de direção do vento */
  .ventoPonto {
    width: 15px;
    height: 1px;
    background-color: #FFF;
    transform-origin: left;
  }
  
  /* Estiliza o texto de descrição */
  .desc {
    color: rgb(209, 204, 204);
    margin-top: -40px;
    padding: 14px;
  }
  
  /* Define uma classe para rotação */
  .rotate {
    transform: rotate(0deg);
  }
  
  /* Estiliza mensagens de aviso */
  .aviso {
    color: #FFF;
    padding-top: 20px;
  }
  
  /* Estiliza o rodapé */
  footer {
    margin-top: 20px;
    color: #FFF;
    font-size: 13px;
  }
  
  /* Estiliza o contêiner das redes sociais */
  #redesSociais {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%; /* Ajuste a largura conforme necessário */
    margin: 0 auto; /* Centralize horizontalmente */
  }
  
  /* Estiliza os títulos das redes sociais */
  #redesSociais h1 {
    flex: 1; /* Distribua o espaço disponível igualmente entre os elementos */
    text-align: center; /* Alinhe o texto ao centro */
  }
  
  /* Estiliza a imagem de perfil do GitHub */
  #profile {
    --s: 250px;
    --b: 8px;
    --g: 15px;
    --c: #ffff;
    width: var(--s);
    aspect-ratio: 1;
    outline-offset: calc(var(--s) / 2);
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* Estiliza a imagem de perfil do GitHub ao passar o mouse */
  #profile:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
    border-radius: 50%;
  }
  
  /* Estiliza o parágrafo abaixo da imagem de perfil do GitHub */
  p {
    text-align: center;
    color: #ffff;
  }
  
  /* Estiliza a imagem de perfil do LinkedIn */
  #profile2 {
    display: flex;
    float: left;
    --s: 250px;
    --b: 8px;
    --g: 15px;
    --c: #ffff;
    width: var(--s);
    aspect-ratio: 1;
    outline-offset: calc(var(--s) / 2);
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* Estiliza a imagem de perfil do LinkedIn ao passar o mouse */
  #profile2:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
    border-radius: 50%;
  }
  
  /* Estiliza o parágrafo abaixo da imagem de perfil do LinkedIn */
  p {
    text-align: center;
    color: #ffff;
  }
  